<ng-container *ngIf="video">
  <ng-container [ngSwitch]="video.site">
    <ng-container *ngSwitchCase="'YouTube'">
      <iframe
        width="100%"
        height="315"
        [src]="videoURL"
        [title]="video.name"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </ng-container>
    <ng-container *ngSwitchCase="'Vimeo'">
      <iframe
        [src]="videoURL"
        width="100%"
        height="315"
        frameborder="0"
        allow="autoplay; fullscreen; picture-in-picture"
        allowfullscreen
      ></iframe>
      <p>
        <a [href]="'https://vimeo.com/' + video.key">{{ video.name }}</a>
      </p>
    </ng-container>
  </ng-container>
</ng-container>
